@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: Roboto, sans-serif;
}
.header {
    text-align: center;
    font-weight: 900;
}

h1 {
    font-size: 3em;
}

.main {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    width: 700px;
    height: 700px;
    outline: 10px black solid;
}